# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*$py.class

# ----------------------------
# Virtual Environment
# ----------------------------
venv/
.venv/

# ----------------------------
# Environment Variables
# ----------------------------
.env

# ----------------------------
# IDE Settings
# ----------------------------
.vscode/
.idea/

# ----------------------------
# Operating System Files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Python Cache
# ----------------------------
.pytest_cache/
.mypy_cache/

# ----------------------------
# Logs
# ----------------------------
*.log